<div>
    <h2 id="page-heading">
        <span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.home.title">Rfb Event Attendances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rfb-event-attendance" [routerLink]="['/rfb-event-attendance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rfbloyaltyApp.rfbEventAttendance.home.createLabel">
            Create new Rfb Event Attendance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rfbEventAttendances">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attendanceDate"><span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.attendanceDate">Attendance Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rfbEventId"><span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.rfbEvent">Rfb Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rfbUserId"><span jhiTranslate="rfbloyaltyApp.rfbEventAttendance.rfbUser">Rfb User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let rfbEventAttendance of rfbEventAttendances ;trackBy: trackId">
                <td><a [routerLink]="['/rfb-event-attendance', rfbEventAttendance.id, 'view' ]">{{rfbEventAttendance.id}}</a></td>
                <td>{{rfbEventAttendance.attendanceDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="rfbEventAttendance.rfbEventId">
                        <a [routerLink]="['../rfb-event', rfbEventAttendance.rfbEventId , 'view' ]" >{{rfbEventAttendance.rfbEventId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rfbEventAttendance.rfbUserId">
                        <a [routerLink]="['../rfb-user', rfbEventAttendance.rfbUserId , 'view' ]" >{{rfbEventAttendance.rfbUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rfb-event-attendance', rfbEventAttendance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rfb-event-attendance', rfbEventAttendance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-event-attendance/'+ rfbEventAttendance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
